@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
@import url("https://fonts.googleapis.com/css?family=Karla");

:root {
	--bg: #3C465C;
	--primary: #2980b9;
	--secondary: #2c3e50;
	--btn-w: 36em;
	--btn-h: 18em;
	--dot-w: calc(var(--btn-w)*.2);
    --tr-X: calc(var(--btn-w) - var(--dot-w));
    

    --font-color: #fff;
    --cont-w: 400px;
    --cont-h: 700px;
    --end-w: 12px;
    --bomb-end-l: 80px;

    --time: 5s;

    --c-sky-top: #a9ddf3;
    --c-sky-bottom: #d0eef9;
    --c-box-inside: #f7e8af;
    --c-box-shadow: #d2b979;
    --c-box-border: #e0b885;
    --c-box-border-shadow: #c08d56;
    --c-list: #e5c28a;
    --c-list-border: #fff6da;
    --c-list-inset: #bf924f;
    --c-scroll-bar: #caa163;
    --c-text: #f8fcff;
    --c-text-outline: #a15605;
    --c-button: #fdbf2c;
    --c-button-highlight: #ffe15d;
    --c-button-shadow: #ea8c12;

    --c-rope: #a15605;
    --c-rope-alt: #caa163;
}
* {
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body {
    /*background-color: skyblue;*/
    background: rgb(173,216,230);
    background: linear-gradient(90deg,var(--c-sky-top), var(--c-sky-bottom));
}


/*--------------------------------
    Main Container
---------------------------------*/
#rope-border {
    padding: 20px;
    z-index: 10;

    width: var(--cont-w);
    height: var(--cont-h);
    margin: 2rem auto;
    position: relative;
    background-repeat: no-repeat;
    background-image:   repeating-linear-gradient(45deg, var(--c-rope), var(--c-rope) 4px, var(--c-rope-alt) 4px, var(--c-rope-alt) 20px),
                        repeating-linear-gradient(45deg, var(--c-rope), var(--c-rope) 4px, var(--c-rope-alt) 4px, var(--c-rope-alt) 20px),
                        repeating-linear-gradient(45deg, var(--c-rope), var(--c-rope) 4px, var(--c-rope-alt) 4px, var(--c-rope-alt) 20px),
                        repeating-linear-gradient(45deg, var(--c-rope), var(--c-rope) 4px, var(--c-rope-alt) 4px, var(--c-rope-alt) 20px);
    background-size:    calc(var(--cont-w) - var(--bomb-end-l)) 12px,
                        12px 100%,
                        100% 12px,
                        12px 50%;
    background-position:    70px 0,
                            100% 0,
                            100% 100%,
                            0 100%;
    
}
@keyframes bg {
    100% {
        background-size:    0 12px,
                            12px 0,
                            0 12px,
                            12px 0;
    }
    80% {
        background-size:    calc(var(--cont-w) - var(--bomb-end-l)) 12px,
                            12px 0,
                            0 12px,
                            12px 0;
    }
    50% {
        background-size:    calc(var(--cont-w) - var(--bomb-end-l)) 12px,
                            12px 100%,
                            0 12px,
                            12px 0;
    }
    30% {
        background-size:    calc(var(--cont-w) - var(--bomb-end-l)) 12px,
                            12px 100%,
                            100% 12px,
                            12px 0;
    }
    0% {
        background-size:    calc(var(--cont-w) - var(--bomb-end-l)) 12px,
                            12px 100%,
                            100% 12px,
                            12px 50%;
    }
}
.appear-rope {
    animation: appear 2s linear;
}
@keyframes appear {
    0% {
        background-size:    0 12px,
                            12px 0,
                            0 12px,
                            12px 0;
    }
    30% {
        background-size:    calc(var(--cont-w) - var(--bomb-end-l)) 12px,
                            12px 0,
                            0 12px,
                            12px 0;
    }
    50% {
        background-size:    calc(var(--cont-w) - var(--bomb-end-l)) 12px,
                            12px 100%,
                            0 12px,
                            12px 0;
    }
    80% {
        background-size:    calc(var(--cont-w) - var(--bomb-end-l)) 12px,
                            12px 100%,
                            100% 12px,
                            12px 0;
    }
    100% {
        background-size:    calc(var(--cont-w) - var(--bomb-end-l)) 12px,
                            12px 100%,
                            100% 12px,
                            12px 50%;
    }
}
.progress-rope {
	animation: bg var(--time) linear;/*cubic-bezier(0.19, 1, 0.22, 1) 1;*/
	animation-play-state: running;
}


/*--------------------------------
    Move around rope
---------------------------------*/
#rope-end{
    content: '';
	position: absolute;
	top: 0;
	width: var(--end-w);
	height: var(--end-w);
	border-radius: 100%;
	transition: all 300ms ease;
	display: none;
}
#rope-end::after {
	content: '';
	position: absolute;
	left: -.4em; /*calc(50% - .4em);*/
	top: -.4em;
	height: .8em;
	width: .8em;
	background: red;
	border-radius: 1em;
	border: .25em solid red;
	box-shadow: 0 0 .7em red,
				0 0 2em red;
}

#fire {
    position: relative;
}
.lit{
	animation: ignite var(--time)  linear;
	display: block!important;
}
@keyframes ignite {
	0% {transform: translateX(-28px) translateY( calc(0.5 * var(--cont-h)) );}
	30% {transform: translateX(-28px) translateY(calc(var(--cont-h) - 12px));}
	50% {transform: translateX(calc(var(--cont-w) - 40px)) translateY(calc(var(--cont-h) - 12px)) ;}
	80% {transform: translateX(calc(var(--cont-w) - 40px)) ;}
	100% { transform: translateX(var(--bomb-end-l)) ;}
}
#fire-outside{
    position: absolute;
    left: -.7em;
    top: -.8em;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #FF7722;
    
}
.scale{
    animation: scale 1s infinite;
}
#fire-outside:before {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid red;
    position: absolute;
    content: "";
    top: 10px;
    left: -15px;
}

#fire-inside{
    position: absolute;
    left: -1.2em;
    top: -1.6em;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 45px solid orangered;
    transform-origin: 25px 32px;
    animation: wiggle 1s infinite;
}
#fire-inside:before {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 45px solid #E3170D;
    position: absolute;
    content: "";
    top: 18px;
    left: -25px;
}
@keyframes wiggle {
    0% {
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
    }
    50% {
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
    }
    100% {
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
    }
}
  
@keyframes scale {
    0% {
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
    }
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
    }
}
@keyframes explode {
    0% {
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
    }
    40% {
      -webkit-transform: scale(50);
      transform: scale(50);
    }
    100% {
      -webkit-transform: scale(100);
      transform: scale(100);
    }
}
.explode{
    animation: explode 1s linear;
}

/*--------------------------------
    Bomb
---------------------------------*/
#bomb {
    position:absolute;
    top:-20px;
    left: -10px;
    width: 100px;
    height: 100px;
    background: #1d1d1d;
    border-radius: 50%;
    transform: rotate(60deg);
}
#bomb::before {
    position: absolute;
    content: '';
    margin-top: -10px;
    margin-left: 30px;
    width: 40px;
    height: 10px;
    border-radius: 50%;
    background: #1d1d1d;
}

#bomb::after {
    position: absolute;
    content: '';
    margin-top: -5px;
    margin-left: 30px;
    width: 40px;
    height: 10px;
    background: #1d1d1d;
}

/*--------------------------------
    Content
---------------------------------*/
main {
    height:100%;

    background-color: var(--c-box-inside);
    border-radius: 30px;
    
    border: 8px solid var(--c-box-border);
    box-shadow: 2px 3px var(--c-box-border-shadow), 
        inset 2px 3px var(--c-box-border-shadow),
        inset -2px -1px var(--c-box-border-shadow),
        inset 40px 40px 100px var(--c-box-shadow),
        inset -40px -40px 200px var(--c-box-shadow);
}
.content {
    padding:20px;
    padding-top:60px;
    height:100%;
    position: relative;
    font-size: 24px;
    color:#fff;
    font-weight: bold;
}


#timer {
    position:absolute;
    top: 10px;
    left: 0px;
    z-index: 100;
    font-size:32px;
    font-weight: bold;
}

#press {
    position:absolute;
    top: 30%;
    left: 0;
    width:100%;
    text-align: center;
}
.question {
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #220a00;
    font-size: 30px;
    font-family: 'Karla', sans-serif;
}
@media screen and (max-width: 600px){
    .question {
        text-indent: 20%;
    }
}
.answer-container{
    height: 66%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-column-gap: 0%;
    grid-row-gap: 0%;
    justify-items: stretch;
    align-items: stretch;
}
.oneByTwo {
    grid-template-rows: 100%;
}
.twoByTwo {
    grid-template-rows: 50% 50% 50% 50%;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem 2rem;
    transition: 0.25s;
    margin: 6px;

    background-color: var(--c-list);
    border-radius: 40px;
    border: 12px solid var(--c-list-border);
    box-shadow: 1px 3px 5px grey,
        inset -40px -40px  80px var(--c-list-inset),
        inset 40px 40px  80px var(--c-list-inset);
    
    padding: 20px;
}
.answer img , .question img{
    max-height: 100%;
    max-width: 100%;
}
.answer img , .question img::after{
    content: "\A";
    white-space: pre;
}






.collapsable {
    padding: 0 18px;
    padding-top: 18px;
    max-height: 0;
    width:100%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.results-list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 2rem;
    transition: 0.25s;

    position: relative;
    flex-direction: column;

    background-color: var(--c-list);
    border-radius: 10px;
    border: 6px solid var(--c-list-border);
}
.results-list-item img {
    max-height: 200px;
    max-width: 200px;
}
.answer:hover, .results-list-item:hover {
    box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
}

.correct:before {
    content:'✔';
    font-size: 4rem;
    font-weight: bold;
    color: var(--c-list-border);
    width: 2rem;
    opacity: 0.7;
    transition: 0.25s;
    position: absolute;
    left: 0;
}
.incorrect:before {
    content:'X';
    font-size: 4rem;
    font-weight: bold;
    color: var(--c-list-border);
    width: 2rem;
    opacity: 0.7;
    transition: 0.25s;
    position: absolute;
    left: 0;
}
.results-list-item p {
    position: relative;
    left:-1.5rem;
    /*font-size: 0.85rem;*/
    transition:0.25s 
}
.results-list-item:hover {
    background-color: var(--c-box-inside);
    cursor: pointer;
}
.results-list-item:hover:before {
    opacity: 0.7;
}
.results-list-item:hover p  {
    left: 1rem;
}
.results-list-item:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    /*float: right;*/
    margin-left: 5px;
    position: absolute;
    right: 10px;
    top: 25px;
}

.active-list-item:after {
    content: "\2212";
}

#results {
    position:absolute;
    top: 0%;
    left: 0;
    height: 100%;
    width:100%;
    padding: 60px;
    text-align: center;
}





.big-text{
    color: var(--c-text);
    text-shadow:
        4px 8px 0 var(--c-text-outline),
        -3px -3px 0 var(--c-text-outline),  
        3px -3px 0 var(--c-text-outline),
        -3px 3px 0 var(--c-text-outline),
        3px 3px 0 var(--c-text-outline);

    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.small-text {
    color: #220a00;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
}
button {
    background-color: var(--c-button);
    border-radius: 40px;
    border: 12px solid var(--c-list-border);
    box-shadow: 1px 3px 5px grey,
        inset -2px -8px  4px var(--c-button-shadow),
        inset 2px 6px 4px var(--c-button-highlight);
    
    padding: 20px;
}




@media screen and (max-width: 700px){
    .big-text{
        text-shadow:
            2px 4px 0 var(--c-text-outline),
            -1px -1px 0 var(--c-text-outline),  
            1px -1px 0 var(--c-text-outline),
            -1px 1px 0 var(--c-text-outline),
            1px 1px 0 var(--c-text-outline);

        font-size: 26px;
    }
    .small-text {
        font-size: 14px;
    }
    
    .question {
        font-size: 20px;
    }
    
}

